<!doctype html>
<html lang="en">
  <head>
	<meta charset="UTF-8"/>
	<title>colorsel</title>
    <link href="main.css" rel="stylesheet">



	<script type="text/ng-template" id="template.main">
	  <header class="cs_container">
		<nav>
		  <span class="cs_logo">ColorSel</span>

		  <a href="#/" ng-class="{'active': nav_current == 'Home'}">Home</a> |
		  <a href="#/about" ng-class="{'active': nav_current == 'Help'}">Help</a> |
		  <a href="https://github.com/gromnitsky/colorsel">Github</a>
		</nav>
	  </header>

	  <!-- controllers set this -->
	  <div class="cs_container" ng-include="template_body"></div>

	</script>



	<script type="text/ng-template" id="template.colorbox">
	  <!-- user selected text from table cells goes here -->
	  <textarea class="cs_clipboard" id="clipboard"></textarea>

	  <div class="cs_colorbox_statusbar" ng-if="status_bar">
		<div ng-bind-html="status_bar"></div>
	  </div>

	  <div class="cs_colordata_nav">
		<label ng-repeat="data in colordata track by $index" ng-show="!data.hidden">
		  <input type="radio"
				 ng-model="$parent.$parent.colordata_active"
				 ng-value="data"
				 ng-change="colordata_active_change()">
		  {{ data.name }}
		</label>
	  </div>

	  <div ng-show="colors" class="cs_filter">
		<button ng-click="colors_filter_clean()">&empty; Filter</button>
		<input ng-model="$parent.colors_filter"
			   ng-change="colors_filter_change()"
			   ng-trim="true">
	  </div>

	  <table ng-show="colors">
		<thead>
		  <tr>
			<th>#</th>
			<th>Color</th>
			<th>Decimal</th>
			<th>HEX</th>
			<th>{{ colordata_active.name }} Name</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="color in colors | filter:colors_filter">
			<td>{{ $index + colordata_active.idx_plus}}</td>
			<td class="cs_color_rectangle_cell">
			  <div class="cs_color_rectangle" ng-style="{'background-color': (color.decimals | decimals2hex_string)}"></div>
			</td>
			<td class="cs_color_textval cs_clip_text" cs-clip-text>{{ color.decimals | decimals2str}}</td>
			<td class="cs_color_textval cs_clip_text" cs-clip-text>{{ color.decimals | decimals2hex_string }}</td>
			<td class="cs_clip_text" cs-clip-text>{{ color.name }}</td>
		  </tr>
		</tbody>
	  </table>

	</script>



	<script type="text/ng-template" id="template.about">

	  <article>
		<h2>Description</h2>

		<p>
		  This utility displays the contents of the
		  X11 <a href="rgb.txt"><tt>rgb.txt</tt></a> file (in Fedora one
		  can found it as <tt>/usr/share/X11/rgb.txt</tt>) or other
		  files in the similar format. Each line of this file consists
		  of 3 integers (usually 0-255) representing the RGB values and
		  a nickname for this color separated by spaces. The RGB values
		  can be displayed in every color representation X11R5/6
		  supports.
		</p>

		<p>
		  Clicking on a text cells in the table will copy the content of
		  the cell into a clipboard.
		</p>

		<p>
		  Use <i>Filter</i> to reduce number of rows in the table.
		</p>

		<h2>History</h2>

		<p>
		  Remember this?
		</p>

		<img src="img/xcolorsel.png" alt="A screenshot of xcolorsel">

		<p>
		  You probably don't remember, but that was a popular program
		  for X11 in the 90s. Unfortunately author abandoned it long
		  time ago & on Fedora 20 it just coredumps.
		</p>

		<p>
		  After a little bit of investigation why it crashes, I decided
		  to rewrite parts of it not using GTK3 or something but using
		  AngularJS + CoffeeScript.
		</p>

		<p>
		  As a browser SPA, colorsel cannot ask your OS to pick a random
		  pixel on the screen & report its color. For a color picker
		  under X11, I find
		  useful <a href="http://gcolor2.sourceforge.net/">gcolor2</a> &
		  <a href="http://sourceforge.net/projects/xoris/">xoris</a>.
		  (Disclosure: I wrote xoris some time ago when I was a
		  student.)
		</p>

	  </article>
	</script>



	</head>

  <body>
	<noscript>
	  Hi, what is life like for you?
	</noscript>

	<div ng-view></div>

	<script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

	<script src="js/colorsel.browserify.js"></script>
  </body>
</html>
