<!doctype html>
<html lang="en">
  <head>
	<meta charset="UTF-8"/>
	<title>colorsel</title>
    <link href="main.css" rel="stylesheet">



	<script type="text/ng-template" id="template.colorbox">

	  <div class="cs_colorbox_statusbar" ng-if="status_bar">
		<div ng-bind-html="status_bar"></div>
	  </div>

	  <div>
		<label ng-repeat="data in colordata track by $index">
		  <input type="radio"
				 ng-model="$parent.colordata_active"
				 ng-value="data"
				 ng-change="colordata_active_change()">
		  {{ data.name }}
		</label>
	  </div>

	  <div ng-show="colors">
		<label>Filter:</label>
		<input ng-model="colors_filter"
			   ng-change="colors_filter_change()"
			   ng-trim="true">
	  </div>

	  <table border=1 ng-show="colors">
		<thead>
		  <tr>
			<th>#</th>
			<th>Color</th>
			<th>Decimal</th>
			<th>HEX</th>
			<th>{{ colordata_active.name }} Name</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="color in colors | filter:colors_filter">
			<td>{{ $index + 1}}</td>
			<td>
			  <div class="cs_color_rectangle" style="background-color: {{ color.decimals | decimals2hex_string }};"></div>
			</td>
			<td class="cs_color_textval">{{ color.decimals | decimals2str}}</td>
			<td class="cs_color_textval">{{ color.decimals | decimals2hex_string }}</td>
			<td>{{ color.name }}</td>
		  </tr>
		</tbody>
	  </table>

	</script>



	<script type="text/ng-template" id="template.about">

	  about page

	</script>



	</head>

  <body>
	<div ng-view></div>


	<script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

	<script src="js/colorsel.browserify.js"></script>
  </body>
</html>
